h2,
h3,
footer {
    font-family: '', sans-serif;
}

h1.header {
    font-family: '', sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
}

.top-bar {
    background-image: url('./images/Cinema-banner.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 150px;
}

.top-bar ul {
    background-color: rgb(0, 0, 0);
}

/*a.filmLink !important{
  color: rgb(122, 28, 12);
}*/

a {
    font-family: '', sans-serif;
    color: rgb(255, 255, 255);
}

a:hover {
    font-family: '', sans-serif;
    color: rgb(122, 28, 12);
}

footer {
    height: 3rem;
    text-align: center;
    padding-top: 1rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    clear: both;
}

tbody a {
    color: rgb(0, 0, 0);
}